* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html {
    font-family: "Frank Ruhl Libre", sans-serif;
}
nav ul li a.active {
    font-weight: 700;
}
/* --------------
        GENERAL
----------------- */
/* .first {
    background-color:#222121;
    height: 11vh;
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 2;
}

.first li {
    display: inline-block;
    margin-right: 2%; 
    margin-left: 8%;
} 

.first li a {
    color: rgb(230, 224, 224);
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
    transition: color 0.5s;
    transition: border-bottom 0.5s;
}
.first li a:hover {
    color: #F9F871;
    border-bottom: 1px solid #F9F871;
} */
/* .hamburger-menu label{
    font-size: 25px;
    display: inline-block;
    display: none;
}
#toggle { 
    display: none;
}
@media only screen and (max-width:500px){
    .hamburger-menu label {
        display: block;
        cursor: pointer;
    }
    .first {
        display: none;
        width: 100%;
    }
    .first a{
        display: block;
        border-bottom: 2px solid goldenrod;
    }
    #toggle:checked + .first{
        display: block;
    }
} */
footer {
    background-color:#222121;
    height: 20vh; 
    padding: 3vh;
}
footer p {
    color: #fff;
}
.footer-container {
    text-align: center;
}
.end {
    width: 30%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.fab {
    font-size: 35px;
    color: #966F33;
}
.fab:hover {
    color: rgb(150, 111, 51, 0.5);
}
/* -------------------
        About me
 --------------------- */
.picture {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(images/machina.jpg);
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
}

.head-text {
    width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    font-weight: 700;
    font-size: 64px;
    color: rgb(230, 224, 224);
}

span {
    color: #F9F871;
}
h2 {
    text-align: center;
    font-size: 40px;
    color:#966F33;
    margin-top: 5vh;
}

h2:after {
	display: block;
	height: 2px;
	background-color: #966F33;
	content:" ";
	width: 100px;
	margin: 0 auto;
	margin-top: 5vh;
}
main p {
    text-indent: 3%;
    width: 60%;
    margin: 6vh auto;
    font-size: 20px;
}
.logo-container {
    display: flex;
    justify-content: flex-start;
    margin: 6vh auto;
}
.logo-container div {
    width: 25%;
    height: auto;
}
.logo-container div img {
    width: 80%;
}

/* -----------------
        Projects
-------------------- */
.image_box {
    position: relative;
    display: flex;
    justify-content: center;
}

.image {
    /* display: block; */
    width: 100%;
    height: auto;
}
.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(148, 109, 50, 0.5);
    width: 100%;
    overflow: hidden;
    height: 0;
    transition: .6s ease-in-out;
}
.image_box:hover .overlay{
    height: 100%;
}
.text {
    position: absolute;
    top: 5%;
    left: 5%;
    font-size: 30px;
    font-weight: 400;
}
.text2 {
    position: absolute;
    bottom: 5%;
    left: 5%;
    border-bottom: 1px solid rgb(77, 75, 75);
}
.text2 a {
    text-decoration: none;
    font-size: 20px;
    color: #3e3396;
}

#top-project {
    padding-top: 8%;
    text-align: center;
    font-weight: 300;
    color: #966F33;
}

.big_container {
    height: 70vh;
    width: 90%;
    margin: auto;
    margin-bottom: 150px;
    padding-top: 3%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 35vh 35vh;
    grid-template-areas: 
        "a a a a a a c c c b b b"
        "a a a a a a d d d e e e";
}
.box1 {
    grid-area: a;
}
.box2 {
    grid-area: c;
}
.box3 {
    grid-area: b;
}
.box5 {
    grid-area: e;
}
.box4 {
    grid-area: d;
}
@media only screen and (max-width: 999px) and (min-width: 600px){
    #top-project {
        padding-top: 10%;
    }
    .big_container {
        height: 110vh;
        width: 80%;
        margin: auto;
        margin-bottom: 150px;
        padding-top: 3%;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 25vh 25vh 15vh 15vh 15vh 15vh;
        grid-template-areas: 
            "a a a a a a a a a a a a"
            "a a a a a a a a a a a a"
            "b b b b b b c c c c c c"
            "b b b b b b c c c c c c"
            "d d d d d d e e e e e e"
            "d d d d d d e e e e e e";
    }
    .box1 {
        grid-area: a;
    }
    .box2 {
        grid-area: c;
    }
    .box3 {
        grid-area: b;
    }
    .box5 {
        grid-area: e;
    }
    .box4 {
        grid-area: d;
    }  
}

@media only screen and (max-width: 599px) {
    .image {
        width: 100%;
        height: 100%;
    }
    #top-project {
        padding-top: 16%;
    }

    .big_container {
        height: 70vh;
        width: 80%;
        margin: auto;
        margin-bottom: 150px;
        padding-top: 3%;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: auto;
        grid-template-areas: 
            "a a a a a a a a a a a a"
            "b b b b b b b b b b b b"
            "c c c c c c c c c c c c"
            "d d d d d d d d d d d d"
            "e e e e e e e e e e e e";
    }
    .box1 {
        grid-area: a;
    }
    .box2 {
        grid-area: c;
    }
    .box3 {
        grid-area: b;
    }
    .box5 {
        grid-area: e;
    }
    .box4 {
        grid-area: d;

}
}
/* -----------------
        Contact
------------------- */

#myVideo {
    position: fixed;
    bottom: 0;
    right: 0;
    min-height: 100%;
    min-width: 100%;
}
.container {
    position: relative;
    top: 16vh;
    margin: 0 auto;
    width: 75%;
    
}

#hire {
    position: relative;
    top: 15vh;
    left: 7%;
    z-index: 2;
}

form div label {
    color: #F9F871;
    font-weight: 700;
}

.btn {
    background-color: #F9F871;
    color: #222121;
}
/* ---Animation--- */
.flip-scale:hover {
	-webkit-animation: flip 0.5s linear both;
	        animation: flip 0.5s linear both;
}
 @-webkit-keyframes flip {
    0% {
      -webkit-transform: scale(1) rotateY(0);
              transform: scale(1) rotateY(0);
    }
    50% {
      -webkit-transform: scale(1.3) rotateY(90deg);
              transform: scale(1.3) rotateY(90deg);
    }
    100% {
      -webkit-transform: scale(1) rotateY(180deg);
              transform: scale(1) rotateY(180deg);
    }
  }
  