* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html {
    font-family: "Frank Ruhl Libre", sans-serif;
}
nav ul li a.active {
    font-weight: 700;
}
/* -------------------
        About me
 --------------------- */
.first {
    background-color:#222121;
    height: 11vh;
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 2;
}

.first li {
    display: inline-block;
    /* margin-right: 2%;  */
    margin-left: 8%;
} 

.first li a {
    color: rgb(230, 224, 224);
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
    transition: color 0.5s;
    transition: border-bottom 0.5s;
}
.first li a:hover {
    color: #F9F871;
    border-bottom: 1px solid #F9F871;
}
.picture {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(images/machina.jpg);
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
}
.profile {
    text-align: center;
}
.profile img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    box-shadow: 2px -2px 2px grey;
    transition: transform 0.6s;
}
.profile img:hover {
    transform: scale(1.2);
}
.head-text {
    width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    font-weight: 700;
    font-size: 64px;
    color: rgb(230, 224, 224);
}

span {
    color: #F9F871;
}
h2 {
    text-align: center;
    font-size: 40px;
    color:#966F33;
    margin-top: 5vh;
}

h2:after {
	display: block;
	height: 2px;
	background-color: #966F33;
	content:" ";
	width: 100px;
	margin: 0 auto;
	margin-top: 5vh;
}
main p {
    text-indent: 3%;
    width: 60%;
    margin: 6vh auto;
    font-size: 20px;
}
/* -----------------
        Projects
-------------------- */
.image_box {
    position: relative;
    width: 25%;
    top: 20vh;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}
.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #F9F871;
    opacity: 0.5;
    width: 100%;
    overflow: hidden;
    height: 0;
    transition: .6s ease-in-out;
}
.image_box:hover .overlay{
    height: 100%;
}
.text {
    position: absolute;
    top: 5%;
    left: 5%;
}
.text2 {
    position: absolute;
    bottom: 5%;
    left: 5%;
    border-bottom: 1px solid grey;
}
/* -----------------
        Contact
------------------- */

#myVideo {
    position: fixed;
    bottom: 0;
    right: 0;
    min-height: 100%;
    min-width: 100%;
}
.container {
    position: relative;
    top: 16vh;
    margin: 0 auto;
    width: 75%;
    
}

#hire {
    position: relative;
    top: 15vh;
    left: 7%;
    z-index: 2;
}

form div label {
    color: #F9F871;
    font-weight: 700;
}

.btn {
    background-color: #F9F871;
    color: #222121;
}

